.main-logo{
  font-size: 1em;
  margin: 0;
  &__link{
    background: url('../images/logo-header.svg');
    @extend %image-replace;
    display: inline-block;
    width: 208px;
    height: 66px;
  }
}

@mixin logo-variant($large-size, $small-size) {
  a{
    background-position: $small-size;
    @media #{$medium-max} {
      background-position: $large-size;
    }
  }
}

.main-logo--light{
  @include logo-variant( 0 -701px, 0 -511px);
}

