$header-height: 115px;
$link-height: 16px;
$link-padding: ($header-height / 2) - ($link-height / 2);

.main-navigation{
  @include rem(14);
  margin-top: $half-spacing-unit;
  text-align: center;
	&__list{
    margin-bottom: 0;
  }
	&__item{
		&.is-active a{
			background-color: $gray-light;
			background-color: rgba($gray-light, 0.12);
		}
	}
	&__link{
    padding: 5px 3px;
    color: white;
    display: block;
    @media #{$medium} {
      padding-top: $link-padding;
    }
    @media #{$large} {
      padding-left: 13px;
      padding-right: 13px;
    }
  }
  @media #{$medium} {
    margin-top: 0;
    text-align: $end;
  }
  &__drop{
    background-color: gray;
    >li>a{
      padding: 4px 6px;
    }
  }
  &__dropdown{
    &:hover{
      background-color: gray;
    }
  }
}
